* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --Light-red: 0, 100%, 67%;
  --Orangey-yellow: 39, 100%, 56%;
  --green-teal: 166, 100%, 37%;
  --Cobalt-blue: 234, 85%, 45%;
}
body {
  /* font-family: "Cairo", sans-serif; */
  /* font-family: "Jomhuria", cursive; */
  font-family: "Work Sans", sans-serif;
}
.parent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
}
.parent-left {
  background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
  /* background-color: hsl(252, 100%, 67%); */
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
  text-align: center;
}
.parent-left h2 {
  font-weight: 300;
}
.title {
  font-weight: 800;
}
.circle {
  background: linear-gradient(
    0deg,
    hsla(241, 72%, 46%, 0),
    hsla(256, 72%, 46%, 1)
  );
  /* background-color: hsla(256, 72%, 46%, 1); */
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.circle div {
  font-size: 50px;
}
.parent-left p {
  font-size: 18px;
  width: 250px;
  margin-top: 20px;
  font-weight: 300;
}
.parent-right {
  padding: 20px;
  width: 720px;
  background-color: 0, 0%, 100%;
}

.on {
  margin-top: 20px;
  height: 30px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first {
  background-color: hsla(var(--Light-red), 0.2);
}
.second {
  background-color: hsla(var(--Orangey-yellow), 0.2);
}
.third {
  background-color: hsla(var(--green-teal), 0.2);
}
.four {
  background-color: hsla(var(--Cobalt-blue), 0.2);
}

/* .on svg {
  fill: currentColor;
} */

.con :last-child {
  margin-left: 10px;
}

.con {
  font-weight: 800;
  display: flex;
  align-items: center;
}
.container1 {
  color: var(--Light-red);
}
.container2 {
  color: var(--Orangey-yellow);
}
.container3 {
  color: var(--green-teal);
}
.container4 {
  color: var(--Cobalt-blue);
}
.sp {
  color: black;
  font-weight: 800;
}
.btn {
  margin-top: 30px;
  background-color: hsl(241, 81%, 54%);
  height: 50px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
