* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --Light-red: 0, 100%, 67%;
  --Orangey-yellow: 39, 100%, 56%;
  --green-teal: 166, 100%, 37%;
  --Cobalt-blue: 234, 85%, 45%;
}
.body {
  position: relative;
}

.parent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 720px;
  background-color: 0, 0%, 100%;
}

.on {
  margin-top: 20px;
  height: 30px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first {
  background-color: hsla(var(--Light-red), 0.2);
}
.second {
  background-color: hsla(var(--Orangey-yellow), 0.2);
}
.third {
  background-color: hsla(var(--green-teal), 0.2);
}
.four {
  background-color: hsla(var(--Cobalt-blue), 0.2);
}

/* .on svg {
  fill: currentColor;
} */

.con :last-child {
  margin-left: 10px;
}

.con {
  font-weight: 800;
  display: flex;
  align-items: center;
}
.container1 {
  color: var(--Light-red);
}
.container2 {
  color: var(--Orangey-yellow);
}
.container3 {
  color: var(--green-teal);
}
.container4 {
  color: var(--Cobalt-blue);
}
.sp {
  color: black;
  font-weight: 800;
}
.btn {
  margin-top: 30px;
  background-color: black;
  height: 50px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
